/* CSS Document */
.clearfix:after, .container:after, ul.ui-tabs-panel:after {
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
}
.clearfix, .container, ul.ui-tabs-panel {display:block;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#srp_map_canvas h2, #gre_map_canvas h2,
#srp_map_canvas h3, #gre_map_canvas h3,
#srp_map_canvas h4, #gre_map_canvas h4 {
	line-height: normal;
	margin: 0;
	padding: 0;
}

#srp_map_canvas img, #gre_map_canvas img, #srp_map_tab{
	max-width: none;
	background: transparent!important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#srp_map_canvas input, #srp_map_canvas textarea, #srp_map_canvas select,
#gre_map_canvas input, #gre_map_canvas textarea, #gre_map_canvas select,
#srp_walkscore input, #srp_walkscore textarea, #srp_walkscore select {
	width: auto;
}
input#ws-go {
    width: auto;
}

.srp_attrib, .srp_attrib a, .srp_attrib img {
    font-size: 11px;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

.srp_attrib a:hover, .srp_attrib a:visited {
    text-decoration: underline;
}

.srp_table {
	border: none;
	width: 100%;
}
.srp_table td, .srp_table tr {
	border: none;	
	line-height: normal;
}

.srp_table .highlight {
	border: 1px solid red;
	padding: 2px 1px;
}

.srp_table label {
	padding-right: 4px;
}

.srp_table tr.monthly_payment {
	font-weight: bold;	
}

.srp_table tr.monthly_payment td{
	padding-top: 5px;
	border-top: 1px solid #ccc;
}

.srp_table tr.monthly_payment input.total, tr.srp_subtitle {
	background: #FFCC66;
	font-weight: bold;
	border: 1px solid #FDAB00;
	padding: 2px 1px;
}

.srp_table{
    border-spacing: 0;
    border-collapse: collapse;
}

.srp_additional-info {
	background: #F3F6FB;
	border: 1px solid #D2DFFF;
	padding: 5px;
	margin: 5px 0;
	line-height: normal;
	display: block;
	overflow: hidden;
        position: relative;
}

.srp_additional-info div{
	padding: 2px;
	display: block;
        overflow: hidden;
        position: relative;
}

#amortization-table .tr_odd {
	background:#F3F6FB;
	border: 1px solid #FDAB00;
}

#amortization-table td {
	text-align: right;
	padding: 3px 10px 3px 0px;
}
#TB_ajaxContent {
	position: relative;
	box-sizing: border-box;
	font-size: 14px;
}
#TB_closeAjaxWindow .screen-reader-text {
	visibility: hidden;
}
.srp_result_table {
	font-size: 12px; 
}

.srp_bb {
	border-bottom: 1px solid #D2DFFF;
}

.srp_tb {
	border-top: 1px solid #D2DFFF;
}

/**/
span.srp_amnt {
	position:absolute;
	right:0;
	top:2px;
	display: block;
	margin: 0;
	padding: 0;
	overflow:visible;
}

.srp_result_link {
	text-align: center;
	margin: 5px auto 0;
}

.srp_mrtg_rte {
	text-align: right;
}

.srp_rte_up {
	padding-right: 12px;
	background: url(../images/up_down.gif) 100% -20px no-repeat;
}

.srp_rte_down {
	padding-right: 12px;
	background: url(../images/up_down.gif) 100% 4px no-repeat;
}

.srp_disclaimer, #srp_Education_attr{
	font-size: 9px;
	color:#666666;
	display: inline;
	margin: 0px 10px;
}

#srp_Education_attr {
	display: block;
	text-align: right;
	line-height: normal;
}

.srp_attrib, .srp_attrib a, .srp_attrib a:visited, .srp_attrib img, .widget .srp_table a {
    font-size: 10px!important;
    margin: 0!important;
    padding: 0!important;
    line-height: normal!important;
    text-decoration: none!important;
    border: none!important;
    background: transparent!important;    
}

.widget .srp_table a {
    display: inline!important;
}

.srp_table .school_field_center, .srp_table.SchoolsByType {
	text-align: center;
	vertical-align: middle;
}

.srp_table.SchoolsByType {
	/*font-size: 10px;*/
}

.srp_table.SchoolsByType .school_address {
	text-align: left;
	padding: 5px;
}
.srp_table.SchoolsByType .school_name {
	font-weight: bold;
}

.srp_table.tableStyle {
	border-top: 3px double #D2DFFF;
	border-bottom: 3px double #D2DFFF;
        font-size: 11px;
}

.srp_table.tableStyle tr, .srp_table.tableStyle td {
	line-height: normal;
}

.srp_table.tableStyle .odd td {	
	background: #F3F6FB;
	border-top: 1px solid #D2DFFF;
	border-bottom: 1px solid #D2DFFF;
}

.srp_table.SchoolsByType .even td {
	
}

.srp_table.tableStyle tr:hover td {
	background: #EBF5FF;
}

.srp_table .yelp_rating, .srp_table .yelp_photo {
	margin: 0;
	padding: 0;
}

.srp_table .yelp_rating {
    text-align: center;
}
.srp_table .yelp_rating img {
	padding: 0;
        margin: 0;
	border: none;
}

#gre_map_canvas {
	height:400px;	
	margin-bottom: 0;
        padding:0px;
}

.srp_gre_legend img {
	border: none!important;
	margin: 0!important;
	padding: 0!important;
        background: transparent!important;
}

.srp_gre_legend span {
	padding-left: 10px;
	font-size: 11px;
}

#listing-container #srp_market_trends div {
	text-align: center;
}

.spr_disclaimer {
	display: inline;
	margin-right: 10px;
	font-size:10px;
}

.spr_disclaimer img, #srp_Education_attr img, #yelp_attribution img{
	border: none;
	padding: 0;
	margin: 0;
}

#yelp_attribution {
	text-align: right;
}

#amortization-table {
	width: 100%;
}

#map, #srp_mortgage, #srp_market_trends, #srp_education {
	margin-bottom: 1.5em;
}

#gre_map_canvas .srp_infoWindow img{
	border: none;
}

#map_area {
	position: relative;
}

#yelp_select {
	font-size: 11px;
	padding: 3px;
	position: absolute;
	bottom: 20px;
	right: 5px;
	background: #fff;
	border: 1px solid #999;
	filter:alpha(opacity=75);
	opacity:0.75;
        line-height: normal;
	width: 110px;
	
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius: 5px;
  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-radius: 5px;
  
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-radius: 5px;
}

#yelp_select input {
	width: auto;
}
#yelp_select label {
  font-size: inherit;
  line-height: inherit;
  display: inline;
}

#srp_walkscore #ws-walkscore-tile {
    margin: 1em auto;
}

#gre_map_canvas .srp_infoWindow {
	display: block;        
}

#gre_map_canvas .srp_infoWindow table.srp_infoWindow {
	border-collapse:collapse;
	margin: 0;
	padding: 0;
	width: 315px;
}

#gre_map_canvas .srp_infoWindow td{
	vertical-align:top;
	margin: 0;
	padding: 0;
}

#gre_map_canvas .srp_infoWindow table,
#gre_map_canvas .srp_infoWindow td,
#gre_map_canvas .srp_infoWindow tr{
	border: none;
}
/*
#gre_map_canvas .yelp_rating {

	position: relative;
	top: 0;
	left: 0;

	float: left;
}
*/
#gre_map_canvas .yelp_photo {
	float: right;
}

#gre_map_canvas .yelp_text {
	clear: left;
}

.ajax_loader {        
	position: relative;
	padding: 5px!important;
        margin: 0!important;
	background: #fff;
	border: 1px solid #999;
	filter:alpha(opacity=75);
	opacity:0.75;
	overflow:hidden;
	text-align: center;
        line-height: 31px!important;
        vertical-align: bottom;
        width: 100px;
	z-index: 999;

  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius: 5px;
  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-radius: 5px;
  
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-radius: 5px;
}

.ajax_loader img {
	border: none;
	vertical-align:bottom;
        padding: 0!important;
        margin: 0 5px!important;
}

a.poweredbysrp {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	display:block;
	margin: 0;
	padding: 0;
	text-align: right;
	border: none;
	background: transparent;
	line-height: 12px;
}

a.poweredbysrp span{
	font-style: italic;
}

#srp_extension {
    position: relative;
    overflow: hidden;
}

#srp_listing_details .propdata, #srp_listing_details .page-blurb, #srp_listing_details .propdata h4 {
    text-align: center;
}

#srp_listing_details .propdata li.odd {
    background: #F3F6FB;
    border-bottom: 1px dotted #B1BCD6;
}

#srp_listing_details .propdata ul {
    list-style: none;
}

#srp_listing_details .propdata h4 {
    font-size: 120%;
}