/bin export-ignore
/tests export-ignore
.phpunit.xml export-ignore
.gitattributes export-ignore
.gitignore export-ignore

* text=auto !eol
/Membership.php -text
classes/controllers/APIClient.php -text
classes/controllers/Downloads.php -text
classes/controllers/Settings.php -text
classes/models/Settings.php -text
classes/views/settings.phtml -text
common/models/Notices.php -text
common/utils/APIClient.php -text
common/utils/HTTP.php -text
common/utils/Modal.php -text
common/utils/String.php -text
common/utils/Updater.php -text
common/utils/Validator.php -text
common/utils/View.php -text
common/utils/ipAddress.php -text
common/views/modal.phtml -text
common/views/notices.phtml -text
/readme.txt -text
resources/images/wp-icon32.png -text
resources/images/wp-menu-image.png -text
resources/scripts/admin.js -text
resources/scripts/common.js -text
resources/scripts/membership.js -text
resources/styles/admin.css -text
resources/styles/common.css -text
resources/styles/membership.css -text
resources/test-delete-me/screenshot.png -text
third-party/bootstrap/css/bootstrap-responsive.css -text
third-party/bootstrap/css/bootstrap-responsive.min.css -text
third-party/bootstrap/css/bootstrap.css -text
third-party/bootstrap/css/bootstrap.min.css -text
third-party/bootstrap/img/glyphicons-halflings-white.png -text
third-party/bootstrap/img/glyphicons-halflings.png -text
third-party/bootstrap/js/bootstrap.js -text
third-party/bootstrap/js/bootstrap.min.js -text
third-party/updater/plugin-update-checker.php -text
